@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{margin:0;padding:0;background: #dfb6f2;font-size:14px;font-family:'Dancing Script', cursive;color:#231F20;}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:0px;}
#text{width:400px;height:425px;left:60px;top:80px;position:absolute;}
#code{display:none;font-size:10px;}
#code .say:nth-child(3),
#code .say:nth-child(4),
#code .say:nth-child(5),
#code .say:nth-child(6),
#code .say:nth-child(7),
#code .say:nth-child(8),
#code .say:nth-child(9),
#code .say:nth-child(10),
#code .say:nth-child(11),
#code .say:nth-child(12),
#code .say:nth-child(13),
#code .say:nth-child(14),
#code .say:nth-child(15),
#code .say:nth-child(16),
#code .say:nth-child(17),
#code .say:nth-child(18),
#code .say:nth-child(19),
#code .say:nth-child(20),
#code .say:nth-child(21),
#code .say:nth-child(22),
#code .say:nth-child(23)
{font-size: 24px;}
#code span:first-child {color: #553083;}  
#canvas{margin:0 auto;width:1100px;height:680px;background-color: #f2efed;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
._2010Card {right: 32px;top: 80px;position: relative;width: 500px;height:470px;cursor: pointer;transform-style: preserve-3d;transform: perspective(2500px);transition: 0.1s;}
._2010Card.initial-state {transform: none; box-shadow: none;cursor: default;}
._2010Card:hover{}
._2010Card:hover .cardFront{}
._2010Card:hover .happy {}
._2010Card.trigger-hover:hover {box-shadow: 0 10px 100px #f7f799;}  
._2010Card.trigger-hover:hover .cardFront {transform: rotateY(-160deg);}
._2010Card.trigger-hover:hover .happy {visibility: hidden;}
._2010Card.expanded-shadow .shadow {transition: 1s;width: 1040px; /* Set the width to expand it to the desired size */}
.cardFront {background-image: url(../img/flower.jpg);background-repeat: no-repeat;background-size: 100% 100%;position: relative;width: 500px;height:470px; overflow: hidden;transform-origin: right;transition: 0.1s;z-index: 91;}  
.cardInside {position: absolute; background-color: #fcfafa;width: 500px;height:470px;z-index:90;top:0;}
.container {position: relative;}
._2010 {position: relative;top: 50px;cursor: pointer;animation: up 3200ms linear infinite;cursor:default;}
.shadow {position: absolute;top: 600px;width: 520px;height: 25px;border-radius: 50%;background-color: rgba(0, 0, 0, 0.3);left: -40px;animation: scale 3s linear infinite;z-index: -1;display: none;transition: width 0.2s; /* Add a transition for the width property */}
@keyframes scale {0%, 100% {transform: scaleX(1);}50% {transform: scaleX(0.85);}}
@keyframes up {0%, 100% {transform: translateY(0);}50% {transform: translateY(-30px);}}
.quynhnhucute {
    position: absolute;
    border-radius: 100%;
    width: 200px;
    right: 30px;
}
font {
    color: #553083;
}