body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

.countdown div {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
