body {
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.countdown {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
}

.countdown div {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 div {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9998;
}